@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet");


@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	margin: 1px;
	
}

h1,h3 {
	font-family: 'Bebas Neue', cursive;
	font-weight: bold; 

}

h2 {

	font-family: 'Bebas Neue', cursive;
	font: bold;
}